<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <p><a href="/">Catalog</a></p>
    <p><a href="/stats">Stats</a></p>
    <p><a href="/backlog">Backlog</a></p>
  </nav>
  <body>

    <section id="add-remove-buttons">
      <form action="/backlog" method="post">
        <input type="submit" name="add" value="Add a book">
      </form>
    </section>

    <table>
      <thead>
        <tr>
          <% headers.map((header) => { %>
            <th><%= header %></th>
          <% }) %> 
        </tr>
      </thead>
      <tbody>
        <% backlog.map((book) => { %>
          <tr>
            <% for (let key in book) { %>
              <td><%= book[key] %></td>
            <% } %>
          </tr> 
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
