<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <% headers.map((header) => { %>
            <th><%= header %></th>
          <% }) %> 
        </tr>
      </thead>
      <tbody>
        <% books.map((book) => { %>
          <tr>
            <% for (let key in book) { %>
              <td><%= book[key] %></td>
            <% } %>
          </tr> 
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
