<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <p><a href="/">Catalog</a></p>
    <p><a href="/add">Add Book</a></p>
    <p><a href="/stats">Stats</a></p>
  </nav>
  <body>
  </body>
</html>
