:root {
  --blue: #166088;
  --light-blue: #edf7fc;
  --text: #141414;
  --highlight: #b0fe76;
  --nav-highlight: #b8b8b8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  color: var(--text);
}

body {
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: var(--text);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: var(--blue);
  color: white;
}

th,
td {
  padding: 0.4em;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--light-blue);
}

nav {
  display: flex;
  align-items: center;
  height: 3em;
}

nav p {
  padding: 0.5em 2em 0.5em 0em;
  font-weight: bold;
}

a:hover {
  color: var(--blue);
  background-color: var(--light-blue);
}

::selection {
  color: var(--text);
  background: var(--highlight);
}

#add-remove-buttons {
  display: flex;
  flex-flow: row wrap;
}

#add-remove-buttons form {
  margin: 0 1em 1em 0;
}

input,
button,
select {
  background-color: white;
  border: 2px solid var(--blue);
  padding: 0.4em;
}

input:hover,
button:hover,
select:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}
